<!DOCTYPE html>
<html lang="en" class="h-100" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<body>
<!--    Верхняя черная полоса-->
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <p class="navbar-brand text-white">
                Логин: <span th:text="${#authentication.name}"></span>
                Уровень доступа:
                <span th:each="role : ${#authentication.principal.user.roles}">
                <span th:text="${role.name.replace('ROLE_', '')} + ' '"></span>
            </span>
            </p>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-dark text-secondary">Выход</button>
            </form>
        </div>
    </nav>
</header>
<!--    Верхняя черная полоса-->
<section>
    <!-- боковые вкладки ADMIN/USER-->
    <div class="container-fluid">
        <div class="row h-100">
            <div class="p-0 col-2 h-100">
                <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" href="/admin" sec:authorize="hasAuthority('ROLE_ADMIN')" role="tab"
                       aria-controls="v-pills-home" aria-selected="true">Администратор</a>
                    <a class="nav-link" href="/user" sec:authorize="(hasAnyAuthority('ROLE_ADMIN', 'ROLE_USER'))"
                       role="tab"
                       aria-controls="v-pills-profile" aria-selected="false">Пользователь</a>
                    <!-- боковые вкладки ADMIN/USER-->
                </div>
            </div>
            <!-- Панель администратора-->
            <div class="col-10 px-0 h-100">
                <div class="container-fluid h-100">
                    <h1 class="m-3 fw-bold">Страница администратора</h1>
                    <div class="tab-content" id="tabContent">
                        <!--вкладка с новым юзером-->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab">Таблица пользователей</a>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" th:href="@{/admin/newUser}">Новый пользователь</a>
                            </li>
                        </ul>

                        <!--вкладка с новым юзером-->
                        <!--таблица пользователей на странице админа-->
                        <div class="card">
                            <div class="card-header">
                                <div class="m-1">
                                    <h4>All users</h4>
                                </div>
                            </div>

                            <div class="card-body" bg-primary text-white>

                                <table class="table table-striped table-hover">
                                    <tr>
                                        <th>ID</th>
                                        <th>Имя</th>
                                        <th>Фамилия</th>
                                        <th>Возраст</th>
                                        <th>Эл.почта</th>
                                        <th>Логин</th>
                                        <th>Роль</th>
                                        <th>Редактирование</th>
                                        <th>Удаление</th>
                                    </tr>
                                    <tr th:each="user : ${users}">
                                        <td th:text="${user.getId()}">id</td>
                                        <td th:text="${user.getName()}">name</td>
                                        <td th:text="${user.lastName}">lastName</td>
                                        <td th:text="${user.getAge()}">age</td>
                                        <td th:text="${user.getEmail()}">email</td>
                                        <td th:text="${user.getLogin()}">login</td>
                                        <td><span th:each="role : ${user.getRoles()}">
                                            <span th:text="${#strings.substringAfter(role.getName(), '_')}"></span>
                                            </span>
                                        </td>
                                        <!--  кнопки edit и delete на странице admin-->
                                        <td>
                                            <a type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                               data-bs-target="#editModal"
                                               th:data-bs-target="${'#editModal'+ user.getId()}">Изменить</a>
                                        </td>
                                        <td>

                                            <a type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                               data-bs-target="#DELETE"
                                               th:data-bs-target="${'#DELETE'+ user.getId()}">Удалить</a>
                                            <!--                                            <form th:action="@{/admin/{id}(id=${user.id})}" th:method="DELETE">-->
                                            <!--                                                <button type="submit" class="btn btn-danger">Delete</button>-->
                                            <!--                                            </form>-->
                                        </td>
                                        <!-- Модальное окно для редактирования пользователя -->
                                        <div aria-hidden="true" aria-labelledby="editModalLabel" class="modal fade"
                                             th:id="${'editModal'+ user.getId()}">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editModalLabel">Редактирование
                                                            пользователя</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <form th:method="POST" th:action="@{/admin/{id}(id=${user.id})}"
                                                          th:object="${user}" id="edit-form">
                                                        <div class="modal-body col-md text-center">
                                                            <br>
                                                            <label for="idNull"><b>ID</b></label>
                                                            <input th:name="id" th:type="text" class="form-control"
                                                                   id="idNull" th:value="${user.getId()}" disabled/>
                                                            <br>
                                                            <label for="nameNull"><b>Имя</b></label>
                                                            <input th:name="name" th:type="text" class="form-control"
                                                                   id="nameNull" th:value="${user.getName()}"/>
                                                            <br>
                                                            <br>
                                                            <label for="lastnameNull"><b>LastName</b></label>
                                                            <input th:name="lastName" th:type="text"
                                                                   class="form-control" id="lastnameNull"
                                                                   th:value="${user.lastName}"/>
                                                            <br>
                                                            <label for="ageNull"><b>Age</b></label>
                                                            <input th:name="age" th:type="number" class="form-control"
                                                                   id="ageNull" th:value="${user.getAge()}"/>
                                                            <br>
                                                            <label for="emailNull"><b>Email</b></label>
                                                            <input th:name="email" th:type="text" class="form-control"
                                                                   id="emailNull" th:value="${user.getEmail()}"/>
                                                            <br>
                                                            <label for="loginNull"><b>Login</b></label>
                                                            <input th:name="login" th:type="text" class="form-control"
                                                                   id="loginNull" th:value="${user.getLogin()}"/>
                                                            <br>
                                                            <label for="passwordNull"><b>Password</b></label>
                                                            <input th:name="password" type="password"
                                                                   class="form-control" id="passwordNull"
                                                                   autocomplete="off"/>
                                                            <br>
                                                            <div class="roles-select-container">
                                                                <div class="roles-select">
                                                                    <label for="roles"></label>
                                                                    <select multiple class="form-control" id="roles"
                                                                            name="roles">
                                                                        <option th:each="role : ${roles}"
                                                                                th:value="${role.id}"
                                                                                th:selected="${user.roles != null and user.roles.contains(role)}">
                                                                            <span th:text="${role.name}"></span>
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--  кнопки на открытом модальном окне EDIT-->
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-primary">Сохранить
                                                            </button>
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Закрыть
                                                            </button>
                                                        </div>
                                                        <!--   кнопки на открытом модальном окне EDIT-->
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" th:id="${'DELETE' + user.getId()}"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Вы действительно
                                                            хотите удалить пользователя?</h5>
                                                        <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close">
                                                        </button>
                                                    </div>
                                                    <!--  модальное окно DELETE на странице админа-->

                                                    <form class="modal-body col-md text-center"
                                                          th:action="@{/admin/{id}(id=${user.id})}"
                                                          th:method="DELETE">

                                                        <!--  данные для удаления в окне-->
                                                        <div class="modal-body col-md">
                                                            <label for="id"><b>ID</b></label>
                                                            <input th:name="id" th:type="text" class="form-control"
                                                                   id="id" th:value="${user.getId()}" disabled/>
                                                            <br>
                                                            <label for="nameOne"><b>Name</b></label>
                                                            <input th:name="name" th:type="text"
                                                                   class="form-control"
                                                                   id="nameOne" th:value="${user.getName()}" disabled/>
                                                            <br>
                                                            <label for="lastnameOne"><b></b></label>
                                                            <input th:name="surName" th:type="text"
                                                                   class="form-control"
                                                                   id="lastnameOne"
                                                                   th:value="${user.getLastName()}" disabled/>
                                                            <br>
                                                            <label for="ageOne"><b>Age</b></label>
                                                            <input th:name="age" th:type="number"
                                                                   class="form-control"
                                                                   id="ageOne" th:value="${user.getAge()}" disabled/>
                                                            <br>
                                                            <label for="emailOne"><b>Email</b></label>
                                                            <input th:name="email" th:type="text"
                                                                   class="form-control"
                                                                   id="emailOne" th:value="${user.getEmail()}"
                                                                   disabled/>
                                                            <br>
                                                            <label for="loginOne"><b>Login</b></label>
                                                            <input th:name="login" th:type="text"
                                                                   class="form-control"
                                                                   id="loginOne" th:value="${user.getLogin()}"
                                                                   disabled/>
                                                            <br>
                                                        </div>
                                                        <!--  данные для удаления в окне Delete -->

                                                        <!--  кнопки на модальном окне Delete-->
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-danger">Delete
                                                            </button>
                                                        </div>
                                                        <!--  кнопки на модальном окне Delete-->
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                </table>
                            </div>
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>
