<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Панель пользователя</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand text-white" href="/admin"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="/admin">Администратор</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/user">Пользователь</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <form class="form-inline" action="#" th:action="@{/logout}" method="get">
                    <button type="submit" class="btn btn-outline-light mr-2">Выйти</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 class="text-center">Редактирование пользователя</h1>

    <form th:method="patch" th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}" id="edit-form">
        <div class="form-group">
            <label for="id">ID</label>
            <input readonly type="number" th:field="*{id}" id="id" class="form-control" placeholder="id">
        </div>

        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" th:field="*{name}" id="name" class="form-control" required>
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
        </div>

        <div class="form-group">
            <label for="last_name">Фамилия</label>
            <input type="text" th:field="*{lastName}" id="last_name" class="form-control" required>
            <div class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName
                error
            </div>
        </div>

        <div class="form-group">
            <label for="age">Возраст</label>
            <input type="text" th:field="*{age}" id="age" class="form-control" required>
            <div class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</div>
        </div>

        <div class="form-group">
            <label for="email">Эл.почта</label>
            <input type="email" th:field="*{email}" id="email" class="form-control" required>
            <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error
            </div>
        </div>

        <div class="form-group">
            <label for="login">Логин</label>
            <input type="text" th:field="*{login}" id="login" class="form-control" required>
            <div class="text-danger" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">login error
            </div>
        </div>

        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" th:field="*{password}" id="password" class="form-control" required>
            <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password
                error
            </div>
        </div>

        <div class="form-group">
            <h3><label>Уровень доступа:</label></h3>
            <div>
                <label class="mr-3">
                    <input type="checkbox" th:field="*{roles}" th:value="ROLE_USER " class="mr-2"/>
                    USER
                </label>
                <label>
                    <input type="checkbox" th:field="*{roles}" th:value="ROLE_ADMIN" class="mr-2"/>
                    ADMIN
                </label>
            </div>
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="ИЗМЕНИТЬ"/>
        </div>
    </form>

</div>
</body>
</html>